<<<<<<< HEAD
/* Add colors here */
=======

// color palette - these colors will be the color swatches of the Colors section

$color-5: #fcf1c8;
$color-4: #a6b4bf;
$color-3: #928c2e;
$color-2: #a56621;
$color-1: #3b7492;

// additional colors

$success: #6fce72; // green
$alert: #b3320b; // red
>>>>>>> 03ab1bb2c793fc0d54d8d915f0d5b1190f5c4277
