@mixin small {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: $color-5;

    @media only screen and (max-width: 420px) {
        @content;
    }

    color: $color-1;


    h2 {
        font-family: $primary-font;
        font-size: 1.7em;
        padding: 0px 10px 10px 10px;
    }

    h3 {
        font-family: $primary-font;
        font-size: 1.5em;
        padding: 10px;
    }

    p {
        font-family: $primary-font;
        font-size: 1em;
        padding: 10px;
        line-height: 1.2;
    }

    a {
        color: $color-2;
    }

    footer a {
        padding: 10px 40px 10px 10px;
    }

    nav {
        padding: 10px;
        line-height: 2;
    }

    .zen-resources ul {
        padding: 10px;
        line-height: 1.6;
    }
}

.page-wrapper {

    h1 {
        font-family: $secondary-font;
        font-size: 2.5em;
        font-weight: bold;
        padding: 10px 10px 50px 10px;
    }

    @include small {}
}