// color palette - these colors will be the color swatches of the Colors section

$color-5: #fcf1c8;
$color-4: #a6b4bf;
$color-3: #928c2e;
$color-2: #a56621;
$color-1: #3b7492;

// additional colors

$success: #6fce72; // green
$alert: #b3320b; // red

// fonts
$primary-font: 'Raleway', sans-serif;
$secondary-font: 'Tangerine', cursive;

// breakpoints
$breakpoints: (
  "phone": 420px,
  "tablet": 768px,
  "desktop": 1366px,
 ) !default; 

