
// color palette - these colors will be the color swatches of the Colors section

$color-5: #fcf1c8;
$color-4: #a6b4bf;
$color-3: #928c2e;
$color-2: #a56621;
$color-1: #3b7492;

// additional colors

$page-background-color: skyblue;
$page-font-color: $color-1;

$success: #6fce72; // green
$alert: #b3320b; // red

body{
    background: $page-background-color url("images/abstract%20forest3-02.svg") no-repeat bottom center;
    background-size: contain;
}

a {
    color: $color-2;
}

.page-wrapper {
    color: darken($page-font-color, 10%);
    background: url("images/cloud1.svg") repeat-x, url("images/cloud1.svg") repeat-x, url("images/cloud1.svg") repeat-x;
    background-size: 1000px, 500px, 700px;
    animation: clouds 10s linear infinite;
}

@keyframes clouds {
    from {
        background-position: 0 0, 300px 200px, 500px -200px;
    }
    to {background-position: 1000px 0, 800px 200px, 1900px -200px;}
  }

