// Variables
$large-screen-size: 960px;
$padding-average-length: 10px;

// Mixins
@mixin section-icon($imageUrl) {
    content: url($imageUrl);
    display: block;
    margin: auto 0;
    padding-top: $padding-average-length * 2;
    text-align: center;
}

// Main layout
h1 {
    padding: $padding-average-length $padding-average-length $padding-average-length * 5 $padding-average-length;
}

h2 {
    padding: 0px $padding-average-length $padding-average-length $padding-average-length;
}

h3 {
    padding: $padding-average-length;
}

p {
    padding: $padding-average-length;
}

footer a {
    padding: $padding-average-length $padding-average-length * 4 $padding-average-length $padding-average-length;
}

nav {
    padding: $padding-average-length;
    line-height: 2;
}

.page-wrapper {
    padding: $padding-average-length * 2;
}

.zen-resources ul {
    padding: $padding-average-length;
    line-height: 1.6;
}

aside.sidebar {
    padding-top: $padding-average-length * 3;
}

footer>a {
    display: block;
    padding: $padding-average-length / 2 $padding-average-length;
    text-align: center;
}

// Images
header[role=banner]>h1::after {
    content: url(https://via.placeholder.com/75x50);
    position: absolute;
    left: auto;
    right: 0;
    top: $padding-average-length * 2;
    margin-right: $padding-average-length * 3;
}

div.summary>p:nth-child(2)::after {
    @include section-icon('https://via.placeholder.com/50x50');
}

div.preamble>p:last-child::after {
    @include section-icon('https://via.placeholder.com/50x50');
}

div.explanation>p:last-child::after {
    @include section-icon('https://via.placeholder.com/50x50');
}

div.participation>p:last-child::after {
    @include section-icon('https://via.placeholder.com/50x50');
}

div.benefits>p:last-child::after {
    @include section-icon('https://via.placeholder.com/50x50');
}

// Large layout
@media screen and (min-width: $large-screen-size) {
 .page-wrapper {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 3fr 3fr 2fr;
    }

    .intro,
    .main.supporting {
        display: contents;
    }

    .sidebar {
        grid-column: 3;
        grid-row: span 3;
    }

    //section 1

    .intro h1 {
        font-size: 5.0em;
        margin-top: 50px;
        align-content: center;
        
    }

    header {
        grid-column: 1;

        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        grid-area: 1/1/1/-1;
    }

    header h2 {
        padding-top: 130px;
    }

    .summary {
        grid-column: 2;
    }

    .preamble {
        grid-column: 1;
        grid-row: span 2;
    }

    //section 2

    .explanation {
        grid-column: 2;
        grid-row: span 2;
    }

    .participation {
        grid-column: 1;
        grid-row: span 2;
    }

    .benefits {
        grid-column: 2;
    }

    .requirements {
        grid-column: 1 / span 3;
    }

    footer {
        grid-column: 1 / -1;

        display: flex;
        justify-content: space-around;
        padding: 50px 50px 30px 50px;
    }

    //section 3

    .wrapper {
        grid-column: 2;
    }

    // .page-wrapper {
    //     display: grid;
    //     grid-template-columns: auto auto;
    //     grid-template-rows: repeat (10, auto);
    //     grid-column-gap: 3%;
    // }

    // .intro,
    // .main.supporting {
    //     display: contents;
    // }

    // .sidebar {
    //     grid-column: 3 / 4;
    //     grid-row: 3 / 7;
    // }

    // //section 1

    // .intro h1 {
    //     font-size: 5.0em;
    //     margin-top: 50px;
    //     align-content: center;
    // }

    // header {
    //     grid-column: 1 / 3;
    //     grid-row: 1 / 2;

    //     display: grid;
    //     grid-template-columns: 1fr 1fr;
    //     align-items: center;
    // }

    // header h2 {
    //     padding-top: 130px;
    // }

    // .summary {
    //     grid-column: 2 / 2;
    //     grid-row: 2 / 3;
    // }

    // .preamble {
    //     grid-column: 1 / 2;
    //     grid-row: 3 / 4;
    // }

    // //section 2

    // .explanation {
    //     grid-column: 2 / 2;
    //     grid-row: 4 / 5;
    // }

    // .participation {
    //     grid-column: 1 / 2;
    //     grid-row: 5 / 6;
    // }

    // .benefits {
    //     grid-column: 2 / 2;
    //     grid-row: 6 / 7;
    // }

    // .requirements {
    //     grid-column: 1 / 2;
    //     grid-row: 7 / 8;
    // }

    // footer {
    //     grid-column: 1 / 3;
    //     grid-row: 9 / 9;

    //     display: flex;
    //     justify-content: space-around;
    //     padding: 50px 50px 30px 50px;
    // }

    // //section 3

    // .wrapper {
    //     grid-column: 2 / 2;
    //     grid-row: 7 / 8;
    // }
}